<% @recipes.each do |recipe| %>
  <ul>
    <li>
      <button class="toggle-recipe" data-recipe-id="<%= recipe.id %>"><%= recipe.name %></button>
      <div id="recipe-info-<%= recipe.id %>" class="hidden">
        <%= render partial: 'saved_recipes/recipe', locals: { recipe: recipe, current_user: current_user } %>
      </div>
    </li>
  </ul>
<% end %>

<div>
  <% if @path == 'my_recipes' %>
    <%= link_to 'Create', new_my_recipe_path %>
  <% end %>
</div>
