<body class="recipes">
  
  <% @recipes.each do |recipe| %>
    <div class="saved-recipe-container">
      <div>
        <img src=<%= recipe.image %> alt='food img'>
      </div>
      <div>
        <div class="recipe-name">
          <%= link_to recipe.name, my_recipe_path(recipe.id) %>
        </div>
        <div>
          <% if current_user.id != recipe.user_id %>
            Recipe saved by <%= recipe.user.first_name %> <%= recipe.user.last_name %>
          <% end %>
        </div>
        <p>
          <% if recipe.recipe_url %>
            Source: <%= link_to recipe.source, recipe.recipe_url, target: '_blank' %>
          <% else %>
            recipe.source
          <% end %>
        </p>
        <p>
          Cooking time: <%= recipe.cooking_time %>
        </p>
        <p>
          <%= recipe.description %>
        </p>
        <% if current_user.id == recipe.user_id %>
          <div>
            <% if !recipe.recipe_url %>
              <%= link_to 'Edit', edit_my_recipe_path(recipe.id) %>
            <% end %>
          </div>
          <div>
            <%= link_to 'Delete', my_recipe_path(recipe.id), method: :delete, data: { confirm: 'Delete this Recipe?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <% if @path == 'my_recipes' %>
      <%= link_to 'Create', new_my_recipe_path %>
    <% end %>
  </div>

</body>
