<body class="recipes">

  <header class="page-header">
    <h1>
      Below are your saved recipes!
    </h1>
  </header>

  <div class="upload-recipe container">
    <% if @path == 'my_recipes' %>
      <%= link_to 'Upload Recipe', new_my_recipe_path %>
    <% end %>
  </div>

  <% @recipes.each do |recipe| %>
    <div class="saved-recipes container">
      <div>
        <img src=<%= recipe.image %> alt='food img'>
      </div>
      <div class="recipe-details">
        <div class="recipe-name">
          <%= link_to recipe.name, my_recipe_path(recipe.id) %>
        </div>
        <div>
          <% if current_user.id != recipe.user_id %>
            Recipe saved by <%= recipe.user.first_name %> <%= recipe.user.last_name %>
          <% end %>
        </div>
        <p>
          <% if recipe.recipe_url %>
            Source: <%= link_to recipe.source, recipe.recipe_url, target: '_blank' %>
          <% elsif recipe.source %>
            recipe.source
          <% end %>
        </p>
        <p>
          Cooking time: <%= recipe.cooking_time %>
        </p>
        <p>
          <%= recipe.description %>
        </p>
        <% if current_user.id == recipe.user_id %>
          <div class="actions fa-icon">
            <p>
            <% if !recipe.recipe_url %>
              <%= link_to edit_my_recipe_path(recipe.id) do %><%= fa_icon "edit"%><% end %> | 
            <% end %>
            <%= link_to my_recipe_path(recipe.id), method: :delete, data: { confirm: 'Delete this Recipe?' } do %><%= fa_icon "trash"%><% end %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</body>
