<% @recipes.each do |recipe| %>
  <%= recipe.name %>
  <img src=<%= recipe.image %> alt='food img' width='200' height='200'>
  <%= recipe.description %>
  <%= recipe.cooking_time %>
  <%= recipe.source %>
  <a href=<%= recipe.recipe_url %>>Recipe link!</a>
  <div>
  List of ingredients:
  <% recipe.ingredients.all.each do |ingredient| %>
    <div>
    <%= ingredient.item %>
    </div>
  <% end %>
  </div>
<% end %>