<body class="friends">

  <header class="page-header">
    <h1>Welcome to your friends page!</h1>
  </header>

  <div class="friends-containers">
    <% if @friends[0] %>
      <div class="my-friends container">
        <h3> My Friends: </h3>
        <% @friends.each do |friend| %>
          <div class="user">
            <img src=<%=friend.profile_img%> alt="profile image">
            <%= friend.first_name %>
            <%= friend.last_name %>
            <%= link_to "/find_friends/#{friend.id}", method: :delete, data: { confirm: 'Remove this Friend?' } do %><%= fa_icon "user-times lg", class: "red" %><% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="search container">
      <h3>Let's find someone to cook with!</h3>
      <div class="form">
        <%= form_with url: '/find_friends', method: :get do |form| %>

          <div class="form-group">
            <%= form.label :first_name %>
            <%= form.text_field :first_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.submit "Search" %>
          </div>
        <% end %>
      </div>

      <% if @search_results[0] %>
        <div class="search-results">
          <h3> Search Results: </h3>
          <% @search_results.each do |user| %>
            <div class="user">
              <img src=<%=user.profile_img%> alt="profile image">
              <%= user.first_name %>
              <%= user.last_name %>
              <%= link_to "/find_friends/#{user.id}", method: :post do %><%= fa_icon "user-plus lg", class: "green" %><% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if @sent_requests[0] || @recieved_requests[0] %>
      <div class="requests container">
        <% if @sent_requests[0] %>
          <div class="sent-requests">
            <h3> Sent Requests: </h3>
            <% @sent_requests.each do |user| %>
              <div class="user">
                <img src=<%=user.profile_img%> alt="profile image">
                <%= user.first_name %>
                <%= user.last_name %>
                <%= link_to "/find_friends/#{user.id}", method: :delete, data: { confirm: 'Cancel this friend request?' } do %><%= fa_icon "ban lg", class: "red" %><% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @recieved_requests[0] %>
          <div class="recieved-requests">
            <h3> Recieved Requests: </h3>
            <% @recieved_requests.each do |user| %>
              <div class="user">
                <img src=<%=user.profile_img%> alt="profile image">
                <%= user.first_name %>
                <%= user.last_name %>
                <%= link_to "/find_friends/#{user.id}", method: :patch do %><%= fa_icon "user-plus lg", class: "green" %><% end %>
                <%= link_to "/find_friends/#{user.id}", method: :delete, data: { confirm: 'Decline this friend request?' } do %><%= fa_icon "user-times lg", class: "red" %><% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
