<p> My Friends: </p>
<% @friends.each do |friend| %>
  <div>
    <%= friend.profile_img %>
    <%= friend.first_name %>
    <%= friend.last_name %>
    <%= link_to 'Remove Friend', "/find_friends/#{friend.id}", method: :delete, data: { confirm: 'Remove this Friend?' } %>
  </div>
<% end %>

<p> Sent Requests: </p>
<% @sent_requests.each do |user| %>
  <div>
    <%= user.profile_img %>
    <%= user.first_name %>
    <%= user.last_name %>
    <%= link_to 'Remove Request', "/find_friends/#{user.id}", method: :delete, data: { confirm: 'Remove this Request?' } %>
  </div>
<% end %>

<p> Recieved Requests: </p>
<% @recieved_requests.each do |user| %>
  <div>
    <%= user.profile_img %>
    <%= user.first_name %>
    <%= user.last_name %>
    <%= link_to 'Accept Request', "/find_friends/#{user.id}", method: :patch %>
    <%= link_to 'Remove Request', "/find_friends/#{user.id}", method: :delete, data: { confirm: 'Remove this Request?' } %>
  </div>
<% end %>