<div class="event-info">
  <% events.each do |event| %>
    <div class="container">
      <h2 class="event-name">
        <% if current_user.id == event.user_id %>
          <%= fa_icon "circle", class: "green" %>
        <% end %>
        <%= event.name %>
      </h2>
      <p class="event-description">
        <%= event.description %>
      <p>
      <h3 class="event-owner">
        <% if current_user.id != event.user_id %>
          Created by: <%= event.user.first_name %> <%= event.user.last_name %>
        <% end %>
      </h3>
      <p class="event-time">
        Event starts at: <%= event.start_time %>
      </p>

      <h4>Invited:</h4>
      <ul class="invited-list">
        <% event.attendees.each do |invite| %>
          <% if invite.attending == false %>
            <li class="invited-friend">
              <%= invite.user.first_name %> <%= invite.user.last_name %>
              <% if current_user.id == event.user_id %>
                <%= link_to "/attendees/delete?user_id=#{invite.user.id}&event_id=#{event.id}", method: :delete, data: { confirm: 'Do you want to cancel this invitation?' } do %>
                  <%= fa_icon "trash lg", class: "fa-icon red" %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <h4>Attending:</h4>
      <ul class="attending-list">
        <% event.attendees.each do |invite| %>
          <% if invite.attending == true %>
            <li class="attending-friend">
              <%= invite.user.first_name %> <%= invite.user.last_name %>
              <% if current_user.id == invite.user.id %>
                <%= link_to "/attendees/delete?user_id=#{invite.user.id}&event_id=#{event.id}", method: :delete, data: { confirm: 'Do you no longer wish to attend this event?' } do %>
                  <%= fa_icon "trash lg", class: "fa-icon red" %>
                <% end %>
              <% elsif current_user.events.exists?(id: event.id) %>
                <%= link_to "/attendees/delete?user_id=#{invite.user.id}&event_id=#{event.id}", method: :delete, data: { confirm: 'Remove this attendee?' } do %>
                  <%= fa_icon "trash lg", class: "fa-icon red" %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if current_user.id == event.user_id %>
        <div class="invite-form">
          <%= form_with url: "/attendees/invite", method: :post do |form| %>
            <%= form.select :friend_id, invite_options %>
            <%= hidden_field :event_id, event.id %>
            <%= form.submit 'Send Invitation' %>
          <% end %>
        </div>
      <% end %>

      <% if event.attendees.exists?(user_id: current_user.id, attending: false) %>
        <%= link_to "attendees/accept?user_id=#{current_user.id}&event_id=#{event.id}", method: :patch do %>
          <%= fa_icon "check lg", text: "accept invitation", class: "fa-icon green" %>
        <% end %>
      <% end %>

      <% if current_user.id == event.user_id %>
        <div class="actions">
          <%= link_to edit_event_path(event.id) do %>
            <%= fa_icon "edit lg", class: "fa-icon green" %> |
          <% end %>
          <%= link_to event_path(event.id), method: :delete, data: { confirm: 'Delete this event?' } do %>
            <%= fa_icon "trash lg", class: "fa-icon red" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
