<div class="event-info">
  <% events.each do |event| %>
    <div class="container">
      <h3>
        <%= event.name %>
      </h3>
      <p>
        <% if current_user.id == event.user_id %>
          This is your event!
        <% else %>
          Created by: <%= event.user.first_name %> <%= event.user.last_name %>
        <% end %>
      </p>
      <p>
        <%= event.start_time %>
      </p>
      
      <h4>
        Invited:
      </h4>
      <% event.attendees.each do |invite| %>
        <div class="invited-friend">
          <% if invite.attending == false %>
            <%= invite.user.first_name %> <%= invite.user.last_name %>
          <% end %>
        </div>
      <% end %>

      <h4>
        Attending:
      </h4>
      <% event.attendees.each do |invite| %>
        <div class="invited-friend">
          <% if invite.attending == true %>
            <%= invite.user.first_name %> <%= invite.user.last_name %>
          <% end %>
        </div>
      <% end %>

      <% if current_user.id == event.user_id %>
        <div class="actions">
          <%= link_to edit_event_path(event.id) do %>
            <%= fa_icon "edit lg", class: "fa-icon green" %> | 
          <% end %>
          <%= link_to event_path(event.id), method: :delete, data: { confirm: 'Delete this event?' } do %>
            <%= fa_icon "trash lg", class: "fa-icon red" %>
          <% end %>
        </div>
      <% end %>

      <% if current_user.id == event.user_id %>
        <div class="invite-form">
          <%= form_with url: "/attendees/invite", method: :post do |form| %>
            <%= form.select :friend_id, invite_options %>
            <%= hidden_field :event_id, event.id %>
            <%= form.submit 'Send Invitation' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
