<body class="events-page">

  <header class="page-header">
    <h1>
      Here's your event calendar!
    </h1>
    <h2>
      You can plan and attend events with your friends here.
    </h2>
  </header>

  <div class="body-content">
    <div class="calendar container">
      <%= month_calendar(events: @my_events + @friends_events + @private_events) do |date, events| %>
        <div class="events-link" onclick='window.location.href="/events/<%= events.pluck(:id) %>"'>
          <%= date.day %>
          <% events.each do |event| %>
            <% if event.attendees.exists?(user_id: current_user.id, attending: true) %>
              <%= fa_icon "check lg", class: "green" %>
            <% elsif event.user_id == current_user.id && event.private == true %>
              <%= fa_icon "star lg", class: "light-green" %>
            <% elsif event.private == true %>
              <%= fa_icon "star lg", class: "pink" %>
            <% elsif current_user.id == event.user_id %>
              <%= fa_icon "circle lg", class: "light-green" %>
            <% else %>
              <%= fa_icon "circle lg", class: "pink" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <p class="legends">
      <%= fa_icon "circle lg", class: "light-green" %> your event |
      <%= fa_icon "star lg", class: "light-green" %> your private event |
      <%= fa_icon "check lg", class: "green" %> attending event
      </p>
      <p class="legends">
      <%= fa_icon "circle lg", class: "pink" %> friend's event |
      <%= fa_icon "star lg", class: "pink" %> friend's private event |
      <%= fa_icon "square lg", class: "yellow" %> current day
      </p>
      <div class="form-group create-event-button">
        <%= link_to 'Create Event', new_event_path, class: "btn btn-primary" %>
      </div>
    </div>

    <% if @events %>
      <%= render partial: 'event', locals: { events: @events, invite_options: @invite_options, invites: @invites } %>
    <% end %>
  </div>
  <div class="attribution">
    Photo by <a href="https://unsplash.com/@3dottawa?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Point3D Commercial Imaging Ltd.</a> on <a href="https://unsplash.com/photos/a-kitchen-with-white-cabinets-and-stainless-steel-appliances-0dj9V9s-R9c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </div>

</body>
