<body class="events-page">

  <header class="page-header">
      <h1>New Event!</h1>
  </header>

  <div class='container'>
    <%= form_with(model: @event, url: events_path) do |form| %>
      <div class="form-group">
        <%= form.label "Title" %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label "Description" %>
        <%= form.text_field :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label "Start Time" %>
        <%= form.datetime_local_field :start_time, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.submit "Create Event", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="attribution">
      Photo by <a href="https://unsplash.com/@3dottawa?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Point3D Commercial Imaging Ltd.</a> on <a href="https://unsplash.com/photos/a-kitchen-with-white-cabinets-and-stainless-steel-appliances-0dj9V9s-R9c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </div>
  </div>

    <%= link_to "Go Back", events_path, class: "btn btn-primary"  %>

</body>
