<body class="home-page">

  <header class="page-header">
    <h1>
      Welcome to our kitchen!
    </h1>
    <h3>
      What are we creating today?
    </h3>
  </header>
  <div class="links-container">
    <% if current_user %>
      <%= month_calendar(events: @my_events + @friends_events) do |date, events| %>
        <div class="events-link" onclick='window.location.href="/events/<%= events.pluck(:id) %>"'>
          <%= date.day %>
          <% events.each do |event| %>
            <% if event.user_id == current_user.id %>
              <%= fa_icon "circle", class: "green" %>
            <% else %>
              <%= fa_icon "circle", class: "red" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div class="lets-cook container">
      <%= link_to 'Lets Cook!', '/recipes' %>
    </div>
    <% if current_user %>
      <div class="container">
        <%= link_to 'My Fridge', items_path %>
      </div>
    <% end %>
  </div>

  <div class="attribution">
    Photo by <a href="https://unsplash.com/@3dottawa?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Point3D Commercial Imaging Ltd.</a> on <a href="https://unsplash.com/photos/a-kitchen-with-white-cabinets-and-stainless-steel-appliances-0dj9V9s-R9c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </div>

</body>
