<% if @json && @json['hits'].present? %>
  <% @json['hits'].each do |hit| %>
    <div class="api-hits container">
      <div>
        <img src=<%= hit['recipe']['image'] %> alt='food img' width='200' height='200'>
      </div>
      <div class="recipe-details">
        <div class="recipe-name">
          <%= hit['recipe']['label'] %>
        </div>
        <p>
          Source: <%= link_to "#{hit['recipe']['source']}", "#{hit['recipe']['url']}", target: '_blank' %>
        </p>
        </p>
        <% if hit['recipe']['totalTime'] == 0 %>
            Cooking time: N/A
          <% else %>
            Cooking time: <%= hit['recipe']['totalTime'].to_i  %> minutes
          <% end %>
        </p>

        <% if current_user %>
          <div class="actions">
            <%= form_with url: "/recipes/#{current_user.id}", method: :post do |form| %>
              <%= hidden_field :name, hit['recipe']['label'] %>
              <%= hidden_field :image, hit['recipe']['image'] %>
              <%= hidden_field :cooking_time, "#{hit['recipe']['totalTime']} minutes" %>
              <%= hidden_field :source, hit['recipe']['source'] %>
              <%= hidden_field :recipe_url, hit['recipe']['url'] %>
              <%= hidden_field :ingredients, hit['recipe']['ingredientLines'] %>
              <%= form.submit "Save to My Recipe List", class: 'btn btn-primary' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% else %>
  <div class="no-results">
    <p>No recipes found. Please try again with different ingredients.</p>
  </div>
<% end %>
