<% if @json %>
  <% @json['hits'].each do |hit| %>
    <div>
    <%= hit['recipe']['label'] %>
    <img src=<%= hit['recipe']['images']['THUMBNAIL']['url'] %> alt='food img'>
    <%= hit['recipe']['source'] %>
    <a href=<%= hit['recipe']['url'] %>>Recipe link!</a>
    <%= hit['recipe']['ingredientLines'] %>
    </div>
  <% end %>
<% end %>
