<%= javascript_include_tag 'ingredients_form' %>
<%= form_with do |form| %>
<div class="control-group">
  <%= form.label :ingredient_1 %>
  <div class="controls">
    <%= form.text_field :ingredient_1, id: 'ingredient-text-field', placeholder: 'Select or type ingredient' %>
    <%= form.select :ingredient_1, options_from_collection_for_select(Item.all, :name, :name), {include_blank: true}, { id: 'ingredient-dropdown'} %>
  </div>
</div>

<div class="control-group">
  <%= form.label :ingredient_2 %>
  <div class="controls">
    <%= form.text_field :ingredient_2, id: 'ingredient-text-field', placeholder: 'Select or type ingredient' %>
    <%= form.select :ingredient_2, options_from_collection_for_select(Item.all, :name, :name), {include_blank: true}, { id: 'ingredient-dropdown' } %>
  </div>
</div>

<div class="control-group">
  <%= form.label :ingredient_3 %>
  <div class="controls">
    <%= form.text_field :ingredient_3, id: 'ingredient-text-field', placeholder: 'Select or type ingredient' %>
    <%= form.select :ingredient_3, options_from_collection_for_select(Item.all, :name, :name), {include_blank: true}, { id: 'ingredient-dropdown' } %>
  </div>
</div>

<div class="control-group">
  <%= form.label :ingredient_4 %>
  <div class="controls">
    <%= form.text_field :ingredient_4, id: 'ingredient-text-field', placeholder: 'Select or type ingredient' %>
    <%= form.select :ingredient_4, options_from_collection_for_select(Item.all, :name, :name), {include_blank: true}, { id: 'ingredient-dropdown' } %>
  </div>
</div>

<div class="control-group">
  <%= form.label :ingredient_5 %>
  <div class="controls">
    <%= form.text_field :ingredient_5, id: 'ingredient-text-field', placeholder: 'Select or type ingredient' %>
    <%= form.select :ingredient_5, options_from_collection_for_select(Item.all, :name, :name), {include_blank: true}, { id: 'ingredient-dropdown' } %>
  </div>
</div>

  <%= form.submit "Submit", class: 'btn btn-primary' %>
<% end %>

<div>
  <%= render "recipe" %>
</div>
