<button id="toggle-items">Open Fridge</button>
<div id="items-list" class="hidden">
  <p>
    <% if @items.present? %>
      <% @items.each do |item| %>
        <%= item.name %>
      <% end %>
    <% end %>
  </p>
</div>

<%= form_with do |form| %>
  <div class="control-group">
  <%= form.label :ingredient_1 %>
    <div class="controls">
      <%= form.text_field :ingredient_1, id: 'ingredient-text-field' %>
    </div>
  </div>

  <div class="control-group">
  <%= form.label :ingredient_2 %>
    <div class="controls">
      <%= form.text_field :ingredient_2, id: 'ingredient-text-field' %>
    </div>
  </div>

  <div class="control-group">
  <%= form.label :ingredient_3 %>
    <div class="controls">
      <%= form.text_field :ingredient_3, id: 'ingredient-text-field' %>
    </div>
  </div>

  <div class="control-group">
  <%= form.label :ingredient_4 %>
    <div class="controls">
      <%= form.text_field :ingredient_4, id: 'ingredient-text-field' %>
    </div>
  </div>

  <div class="control-group">
  <%= form.label :ingredient_5 %>
    <div class="controls">
      <%= form.text_field :ingredient_5, id: 'ingredient-text-field' %>
    </div>
  </div>

  <%= form.submit "Submit", class: 'btn btn-primary' %>
<% end %>

<div>
  <%= render "recipe" %>
</div>
