<h1>New</h1>

<% if @item.errors.any? %>
  <%= @item.errors.full_messages %>
<% end %>

<%= form_for @item do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :quantity %>
  <%= form.text_field :quantity %>

  <%= form.label :expiration_date %>
  <%= form.text_field :expiration_date, placeholder: "yyyy-mm-dd" %>

  <%= form.submit %>


<% end %>
